/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html{
    background-color: #fff;
    font-family: "Hiragino Kaku Gothic ProN","ãƒ¡ã‚¤ãƒªã‚ª", sans-serif;
}

body{
    color: #464646;
}
a {
    text-decoration: none;
}
.register {
    background-color: #FF9700;
    border: none;
    color: #fff;
    padding-left: 3em;
    padding-right: 3em;
}
.letter_s {
    letter-spacing: 7px;
    font-weight: 800;
}

.header_logo {
    float: left;
}
.header_logo img{
    margin: 25px 10px 10px 25px;
}
.h1 h1{
    text-align: center;
    font-weight: 800;
}
.h1{
    width: 100%;
    margin: 0 auto;
    font-size: 35px;
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}
.h1 img {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}
header li{
    display: inline-block;
    margin-right: 35px;
    margin-top: 7px;
}
.nav {
    height: 100px;
    padding: 0 5% 0 5%;
}
.menu {
    float: right;
    margin: 30px;
    color: #fff !important;
    font-weight: 800;
}
.menu a {
    color: #fff;
}
.mainvisual{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
    height: 510px;
    text-align: center;
    background-image: url("../img/main.png");    
}
.main_logo {
    padding-left: 50%;
    margin-top: 45px;
}
.mainvisual h1 {
    color: #fff;
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 15px;
}
.mainvisual p {
    color: #fff;
    font-weight: 800;
    margin: 15px;
}
.main_video video{
    height: 600px;
}
.main_video{
    margin: 0 auto;
    width: 307px;
    height: 600px;
}
.text_area{
    padding-bottom: 100px;
    font-weight: 600;
}
.text{
    margin: 0 auto;
    width: 70%;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5em;
}
.image_area p{
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    font-size: 20px;
}
.image{
    padding: 5%;
}
.dl_bottom{
    width: 40%;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
}
.dl_bottom .column{
    text-align: center;
}
.comunity{
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    border-bottom: 2px solid #888;
    text-align: center;
}
.comunity p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comunity img{
    text-align: center;
    width: 80px;
}
.s1 {
	color: #444;
	font-size: 20px;
	display: flex;
	align-items: center;
}
.s1:before, .s1:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.s1:before {
	margin-right: .4em;
}
.s1:after {
	margin-left: .4em;
}
.explain_01 {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.explain_01 video {
    height: 500px;
}
.explain_01 p {
    margin: 10px 0px 40px 15px;
}
.box01 .left {
    text-align: right;
}
.box01 .right {
    text-align: left;
}
.explain_02 {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.explain_02 video {
    height: 500px;
}
.explain_02 p {
    margin: 10px 0px 40px 15px;
}
.box02 .left {
    text-align: left;
}
.box02 .right {
    text-align: left;
}
.explain_03 {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.explain_03 video {
    height: 500px;
}
.explain_03 p {
    margin: 10px 0px 40px 15px;
}
.box03 .left {
    text-align: right;
}
.box03 .right {
    text-align: left;
}
.sns {
    height: 220px;
    background-color: #aaa;
    text-align: center;
    background-image: url("../img/footer.png");
}
.sns p {
    padding: 35px;
    color: #fff;
    font-weight: 800;
}
.twitter {
    padding: 35px;
}
.twitter a {
    background-color: #000;
    color: #fff;
    border: none;
}
.twitter img {
    width: 20px;
    margin-right: 7px;
}
footer {
    background-color: #187CD6;
    height: 220px;
}
.footer_wrap {
    width: 259px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}
.footer_wrap ul {
    height: 50px;
}
.footer_wrap li {
    display: inline-block;
    padding-left: 5px;
    font-size: 8px;
}
.footer_wrap li a {
    color: #fff;
    margin: 5px;
}
.footer_wrap p {
    font-size: 6px;
    color: #fff;
}
.small {
    font-size: 13px;
    color: #777;
}

#modal-01,
#modal-02 {
	width:50%;
	background:#EFEFEF;
    z-index:9999;
    position:fixed;
    font-weight: 800;
    text-align: center;
}
.modal_header {
    width: 100%;
    height: 40px;
    background-color: #494949;
    color: #fff;
    text-align: center;
    font-weight: 800;
}
#modal-01 p,
#modal-02 p {
    padding-top: 12px;
}
.control {
    margin: 0 auto;
}
#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
.modal-p{
	margin-top:1em;
}
.font_small {
    font-size: 8px;
}

.modal-p:first-child{
	margin-top:0;
}
.button-link:hover{
	cursor:pointer;
	color:#f00;
}
.introduce {
	background-color: #0061A4;
	width: 100%;
	min-height: 500px;
	padding: 80px 0 30px 0;
	text-align: center;
	color: #fff;
}
.introduce-text {
	font-weight:bold;
	margin: 10px;
	font-size: 18px;
	line-height:22px;
}
.introduce-list {
	width: 80%;
	margin: 50px auto;
}
.introduce-contents {
	display: inline-grid;
	width:20%;
	margin-right:4.5%;
	margin-bottom: 20px;
}
.introduce-contents h4 {
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}
.introduce-contents p {
	font-size:9px;
}
.introduce-contents .title {
	display: block;
	height:50px;
	margin: 10px auto;
}
.introduce-contents .illust {
	display: block;
	height:80px;
	margin: 10px auto;
}
.contents-title {
	background-color: #494949;
	height: 30px;
	padding: 5px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 15px; 
	line-height: 20px;
}
.use,.faq,.roadmap {
	background-color: #F2F2F2;
	width: 100%;
	min-height: 500px;
	color: #3E3A39;
}
.faq,.roadmap {
	background-color: #fff;
}
.step {
	width: 60%;
	min-height: 150px;
	margin: 0 auto;
	padding: 25px 0 25px 0;
	overflow: hidden;
}
.step:last-child {
	padding-bottom: 50px;
}
.step:nth-child(2) {
	padding-top: 50px;
}
.step .step-count {
	display: block;
	float: left;
	width: 15%;
}
.step .step-detail {
	float: left;
	width: 75%;
	margin: 0 2%;
}
.step-detail h4 {
	font-size: 18px;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 5px;
}
.step-detail p {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 15px;
	padding: 0;
}
.step-detail .image1 {
	width: 32%;
}
.step-detail .image2{
	width: 70%;
	margin: 0 15%;
}
.step-detail .image3 {
	width: 100%;
}
.clear {
	float:clear;
}





@font-face {
	font-family: 'HelveticaNeue';
	src: url(assets/fonts/HelveticaNeue.dfont);
}
@font-face {
	font-family: 'Helvetica';
	src: url(assets/fonts/Helvetica.dfont);
}

.contents-header {
	background-color: #187CD6;
	height: 50px;
	width: 100%;
}
.contents-header .header-logo {
	height: 30px;
	margin: 15px 5px 5px 100px;
	float: left;
}
.contents-header p {
	float: left;
	margin: 15px 0;
	font-family: 'Hiragino Kaku Gothic ProN',Helvetica,HelveticaNeue;
	font-weight: bold;
	font-size: 4px;
	line-height: 10px;
	color: #FFF;
}

.footercontents {
	width: 65%;
	min-height: 450px;
	margin: 50px auto;
	font-family: 'Hiragino Kaku Gothic ProN',Helvetica,HelveticaNeue;
	font-size: 11px;
}
.completed {
	width: 65%;
	min-height: 450px;
	margin: 50px auto;
	font-family: 'Hiragino Kaku Gothic ProN',Helvetica,HelveticaNeue;
	font-size: 11px;
	text-align: center;
}
.footercontents h1
, .completed h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.footercontents .contents
, .completed .contents {
	margin: 20px 0;
}
.contents img {
	width: 250px;
	margin:20px auto;
	padding:10px;
}
.contents .main-message {
	font-size: 15px;
	line-height:22px;
	font-weight: bold;
	margin-bottom: 45px;
}
.contents .coution-message {
	font-size: 9px;
	line-height: 13px;
	text-align: left;
	color: #999;
}
.footercontents .contents h2 {
	font-size: 15px;
	line-height: 19px;
	padding: 2px 0 0 10px;
	margin: 10px 0 5px 0;
	border-bottom: 1px solid #000;
}
.footercontents .contents h3 {
	font-size: 11px;
	line-height: 15px;
	padding: 25px 5px 15px 5px;
	margin-bottom: 5px;
}
.footercontents .contents p:not(:last-child), p {
	line-height: 15px;
	padding: 0 0 0 5px;
	margin-bottom: 0.5em;
}
.footercontents dl {
	width: 100%;
}
.footercontents dl dt{
	margin: 20px 0 5px 5px;
}
.footercontents dl dd{
	padding: 0 5px 10px 5px;
}
.footercontents .contents-footer,
.completed .contents-footer {
	text-align: center;
	margin: 35px;
}
.contents-footer .small {
	background-color: #187CD6;
	color: #FFF;	
}
.contents-footer .twitter {
	padding: 20px 0 0 0;
}
.contents-footer .twitter img {
	margin: 0;
}
.contents-footer .twitter .small {
	background-color: #000;
	color: #FFF;
}

footer {
    background-color: #187CD6;
    height: 220px;
}
.footer_wrap {
    width: 259px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}
.footer_wrap ul {
    height: 50px;
}
.footer_wrap li {
    display: inline-block;
    padding-left: 5px;
    font-size: 8px;
}
.footer_wrap li a {
    color: #fff;
    margin: 5px;
}
.footer_wrap p {
    font-size: 6px;
    color: #fff;
}

@media (min-width: 768px) {
    .pc_hidden{
        display: none;
    }
}

@media (max-width: 768px) {
    .sp_hidden {
        display: none;
    }
    .mainvisual {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: none;
        background-size: cover;
        width: 100%;
        height: 360px;
        background-image: url(../img/main.png);
    }
    .mainvisual h1 {
        font-size: 20px;
    }
    .main_logo {
        padding: 0;
        margin: 0;
    }
    .main_logo img {
        width: 220px;
    }
    .header_logo img {
        margin: 10px 10px 10px 10px;
        width: 160px;
    }
    .h1{
        font-size: 25px;
    }
    .image{
        padding-bottom: 30px;
    }
    .image img {
        max-width: 170px;
        margin: 0 auto;
    }
    .h1 {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .text_area{
        padding-bottom: 50px;
        font-weight: 600;
    }
    .dl_bottom{
        width: 80%;
    }
    .twitter {
        padding: 25px;
    }
    .sns p {
        padding: 25px;
    }
    .footer_inner {
        width: 90%;
        margin: 0 auto;
    }
    .footer_dl img {
        max-width: 230px;
    }
    .footer_comunity{
        margin: 0 auto;
        text-align: center;
    }
    	.contents-header {
		height: 40px;
    }
    #modal-01, #modal-02 {
        width: 90%;
    }
    .introduce-list {
	    width: 80%;
    }
    .introduce-contents {
	    width: 90%;
	    padding: 10%;
	    margin-right: 0;
    }
	.step {
		width: 80%;
		text-align: center;
	}
	.step .step-count {
		float: none;
		width:35%;
		margin: 0 auto;
		padding: 0;
	}
	.step .step-detail {
		float: none;
		width: 100%;
		padding: 20px 0 10px 0;
		margin: 0;
	}
	.step-detail h4 {
		font-size: 15px;
	}
	.step-detail p {
		font-size: 11px;
	}
	.step-detail .image2 {
		width: 90%;
		margin: 0;
	}
    .contents-header .header-logo {
	    height: 25px;
	    margin-top: 10px;
	    margin-left: 15px;
    }
    .contents-header p {
	    margin: 10px 0;
    }
    .footercontents, .completed {
	    width: 85%;
	    margin: 30px auto;
    }
    .footercontents h1,
    .completed h1 {
	    font-size: 18px;
    }
    .footercontents .contents-footer,
    .completed .contents-footer {
	    margin-left: 0;
	    margin-right: 0;
    }
    .contents-footer .twitter {
	    padding-top: 10px;
    }
    .contents-footer .small {
	    font-size: 11px;
    }
    .contents .main-message {
	    font-size: 13px;
	    line-height: 17px;
    }
    .contents .coution-message {
	    font-size: 11px;
	    line-height: 15px;
	    padding: 0 10px;
    }
}
