/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html{
    background-color: #fff;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

body{
    color: #464646;
}
a {
    text-decoration: none;
}
.register {
    background-color: #FF9700;
    border: none;
    color: #fff;
}
.letter_s {
    letter-spacing: 3px;
}

.header_logo {
    float: left;
}
.header_logo img{
    margin: 25px 10px 10px 25px;
}
.h1 h1{
    text-align: center;
        font-weight: 800;
}
.h1{
    width: 100%;
    margin: 0 auto;
    font-size: 35px;
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}
.h1 img {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}
header {
    background-color: #8E8E8E;
}
header li{
    display: inline-block;
    margin-right: 10px;
}
.nav {
    background-color: #8E8E8E;
    height: 75px;
}
.menu {
    float: right;
    margin: 20px;
    color: #fff !important;
    font-weight: 800;
}
.menu a {
    color: #fff;
}
.mainvisual{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
    height: 275px;
    background-color: #8E8E8E;
    text-align: center;
}
.mainvisual img {
    /* margin: 10px; */
}
.mainvisual p {
    color: #fff;
    font-weight: 800;
    margin: 15px;
}
.main_video video{
    height: 600px;
}
.main_video{
    margin: 0 auto;
    width: 307px;
    height: 600px;
}
.text_area{
    padding-bottom: 100px;
    font-weight: 600;
}
.text{
    margin: 0 auto;
    width: 70%;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5em;
}
.image_area p{
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    font-size: 20px;
}
.image{
    padding: 5%;
}
.dl_bottom{
    width: 40%;
    min-width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
}
.dl_bottom .column{
    text-align: center;
}
.comunity{
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    border-bottom: 2px solid #888;
    text-align: center;
}
.comunity p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comunity img{
    text-align: center;
    width: 80px;
}
.s1 {
	color: #444;
	font-size: 20px;
	display: flex;
	align-items: center;
}
.s1:before, .s1:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.s1:before {
	margin-right: .4em;
}
.s1:after {
	margin-left: .4em;
}
.explain_01 {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.explain_01 video {
    height: 500px;
}
.explain_01 p {
    margin: 10px 0px 40px 15px;
}
.box01 .left {
    text-align: right;
}
.box01 .right {
    text-align: left;
}
.explain_02 {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.explain_02 video {
    height: 500px;
}
.explain_02 p {
    margin: 10px 0px 40px 15px;
}
.box02 .left {
    text-align: left;
}
.box02 .right {
    text-align: left;
}
.explain_03 {
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.explain_03 video {
    height: 500px;
}
.explain_03 p {
    margin: 10px 0px 40px 15px;
}
.box03 .left {
    text-align: right;
}
.box03 .right {
    text-align: left;
}
.sns {
    height: 220px;
    background-color: #aaa;
    text-align: center;
    background-image: url("../img/footer.png");
}
.sns p {
    padding: 35px;
    color: #fff;
    font-weight: 800;
}
.twitter {
    padding: 35px;
}
.twitter a {
    background-color: #000;
    color: #fff;
    border: none;
}
.twitter img {
    width: 20px;
    margin-right: 7px;
}

.footer_inner {
    width: 60%;
    margin: 0 auto;
}
.footer_dl{
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}
.footer_comunity{
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
}
.footer_dl p,
.footer_comunity p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer_comunity img{
    text-align: center;
    width: 80px;
}
.page-back {
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 83px;
    width: 85px;
    border-radius: 50%;
}
.small {
    font-size: 13px;
    color: #777;
}

#modal-01,
#modal-02 {
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
    z-index:9999;
    position:fixed;
}

#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url(assets/fonts/HelveticaNeue.dfont);
}
@font-face {
	font-family: 'Helvetica';
	src: url(assets/fonts/Helvetica.dfont);
}

.footercontents-header {
	background-color: #187CD6;
	height: 50px;
	width: 100%;
}
.footercontents-header .header-logo {
	height: 30px;
	margin: 15px 5px 5px 100px;
	float: left;
}
.footercontents-header p {
	float: left;
	margin: 15px 0;
	font-family: 'Hiragino Kaku Gothic ProN',Helvetica,HelveticaNeue;
	font-weight: bold;
	font-size: 4px;
	line-height: 10px;
	color: #FFF;
}

.footercontents {
	width: 65%;
	min-height: 450px;
	margin: 50px auto;
	font-family: 'Hiragino Kaku Gothic ProN',Helvetica,HelveticaNeue;
	font-size: 11px;
}
.footercontents h1 {
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.footercontents .contents {
	margin: 20px 0;
}
.footercontents .contents h2 {
	font-size: 15px;
	line-height: 19px;
	padding: 2px 0 0 10px;
	margin: 10px 0 5px 0;
	border-bottom: 1px solid #000;
}
.footercontents .contents h3 {
	font-size: 11px;
	line-height: 15px;
	padding: 25px 5px 15px 5px;
	margin-bottom: 5px;
}
.footercontents .contents p:not(:last-child), p {
	line-height: 15px;
	padding: 0 0 0 5px;
	margin-bottom: 0.5em;
}
.footercontents dl {
	width: 100%;
}
.footercontents dl dt{
	margin: 20px 0 5px 5px;
}
.footercontents dl dd{
	padding: 0 5px 10px 5px;
}
.footercontents .contents-footer {
	text-align: center;
	margin: 35px;
}
.footercontents .contents-footer .small {
	background-color: #187CD6;
	color: #FFF;	
}
.footercontents .contents-footer .twitter {
	padding: 20px 0 0 0;
}
.footercontents .contents-footer .twitter img {
	margin: 0;
}
.footercontents .contents-footer .twitter .small {
	background-color: #000;
	color: #FFF;
}

footer {
    background-color: #187CD6;
    height: 220px;
}
.footer_wrap {
    width: 259px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}
.footer_wrap ul {
    height: 50px;
}
.footer_wrap li {
    display: inline-block;
    padding-left: 5px;
    font-size: 8px;
}
.footer_wrap li a {
    color: #fff;
    margin: 5px;
}
.footer_wrap p {
    font-size: 6px;
    color: #fff;
}
/***ここまで追記 footercontents***/
@media (min-width: 768px) {
    .pc_hidden{
        display: none;
    }
}

@media (max-width: 768px) {
    .sp_hidden {
        display: none;
    }
    .mainvisual {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: none;
        background-size: cover;
        width: 100%;
        height: 500px;
        background-color: #8E8E8E;
    }
    .main_video video {
        height: 500px;
    }
    .main_video {
        width: 256px;
        height: 500px;
    }
    .h1{
        font-size: 25px;
    }
    .image{
        padding-bottom: 30px;
    }
    .image img {
        max-width: 170px;
        margin: 0 auto;
    }
    .h1 {
        font-size: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .text_area{
        padding-bottom: 50px;
        font-weight: 600;
    }
    .dl_bottom{
        width: 80%;
    }
    .explain_01,
    .explain_02,
    .explain_03{
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .box01,
    .box02,
    .box03 {
        text-align: center;
    }
    .box01 img,
    .box02 img,
    .box03 img {
        width: 170px;
    }
    .box01 h1,
    .box02 h1,
    .box03 h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 25px;
        font-weight: 800;
    }
    .box01 .left,
    .box02 .right,
    .box03 .left {
        text-align: center;
    }
    .footer_inner {
        width: 90%;
        margin: 0 auto;
    }
    .footer_dl img {
        max-width: 230px;
    }
    .footer_comunity{
        margin: 0 auto;
        text-align: center;
    }
}
